.destination-details{
    display: flex;
    
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url(../../images/Rectangle\ 1.png);
    background-size: cover;
    height: 100vh;
    background-position:center;
    background-repeat: no-repeat;

}
.destination-info{
    width: 500px;
    word-wrap: break-word;
    margin-left: 80px;
    margin-top: 50px;
    color: #fff;

}
.destination-info h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 72px;
    color: #fff;
}
.destination-info p{
    font-family: 'Montserrat', sans-serif;
    color: rgb(216, 199, 199);
    font-weight: 20px;
}

.booking-info{
    border: 1px solid #fff;
    color: rgb(44, 41, 41);
}
