.login-page{
    margin-top: 100px;
}
.login-page h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}
.form-style{
    border: 1px solid black;
    width : 50%;
    margin : 30px auto;
    padding : 20px;
}
.google-icon{
    height: 30px;
    width: 30px;
    margin-right: 15%;

    
}
.fb-icon{
    height: 30px;
    width: 30px;
    margin-right: 15%;
    
}
.signIn-button{
    width : 25%;
    height: 10%;
    background-color: orange;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid orange;
    color: black;
}
